header{
    width: 100%;
    height: $header-ht-m;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    &::before{
        content: '';
        background-color: $color;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition-duration: 1s;
    }
    img{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 65%;
        width: auto;
    }
    button, .contact-btn{
        display: none;
        &.nav-btn{
            width: 40px;
            @include nav-btn();
        }
    }
    @media screen and (min-width: $sm) {
        button, .contact-btn{
            display: block;
        }
        height: $header-ht;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media screen and (min-width: $lg) {
        &::before{
            height: 0%;
        }
    }
}

.nav-open, .onScroll{
    header{
        @media screen and (min-width: $lg) {
            &::before{
                height: 100%;
            }
        }
    }
}

.nav-open{
    header{
        button{
            &.nav-btn{
                .bar{
                    width: 0;
                }
                .close-bar{
                    transform: translate(-50%, -50%) scale(1);
                }
            }
        }
    }
}