.mobile-nav{
    bottom: 0;
    left: 0;
    z-index: 100;
    height: $mobbar-ht;
    background-color: $color;
    display: flex;
    button{
        &.nav-btn{
            width: $mobbar-ht;
            height: 100%;
            padding: 0 12px;
            @include nav-btn();
            i{
                width: 100%;
                margin: 10px auto;
                background-color: white;
            }
        }
    }
    span{
        display: block;
        width: 100%;
        border-left: 1px solid white;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-decoration: none;
            height: 100%;
        }
    }
    @media screen and (min-width: $sm) {
        display: none;
    }
}