<table align="center" border="1" cellspacing="0" style="width:500px;">
	<tbody>
		<tr>
			<td colspan="2"><img alt="" src="https://www.radiofrance.fr/s3/cruiser-production/2022/02/1b5f469a-e5f4-4159-a0ca-cf1a9371ef09/560x315_roses-bouquet-fleurs.webp" style="width: 500px; height: 281px; display: block;" /></td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 10px 10px 20px; background-color: rgb(45, 71, 87);">
			<h1 style="text-align: center;"><span style="color:#ffffff;"><span style="font-size:26px;"><span style="font-family:Verdana,Geneva,sans-serif;">Merci d'avoir pris contact avec nous</span></span></span></h1>

			<p style="text-align: center;"><span style="color:#ffffff;"><span style="font-family:Verdana,Geneva,sans-serif;">Nous reviendrons vers vous le plus vite possible !</span></span></p>

			<p style="text-align: center;"><span style="color:#ffffff;"><span style="font-family:Verdana,Geneva,sans-serif;">Vous trouverez ci-dessous le récapitulatif de votre demande.</span></span></p>

			<p style="text-align: center;"><span style="color:#ffffff;"><em><strong><span style="font-family:Verdana,Geneva,sans-serif;">Les Fleurs de Riton</span></strong></em></span></p>
			</td>
		</tr>
		<tr>
			<td style="padding: 10px"><span style="font-size:16px;"><span style="font-family:Verdana,Geneva,sans-serif;">Demande</span></span></td>
			<td style="width: 50%; padding: 10px"><span style="font-size:16px;"><span style="font-family:Verdana,Geneva,sans-serif;">{{ subject }}</span></span></td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 10px"><span style="font-size:16px;"><span style="font-family:Verdana,Geneva,sans-serif;">{{ message }}</span></span></td>
		</tr>
		<tr>
			<td colspan="2" style="padding: 10px; text-align: center; vertical-align: middle; background-color: rgb(45, 71, 87);">
			<h2 style="text-align: center; margin: 0"><span style="color:#ffffff;"><span style="font-size:24px;"><em><strong>Nous contacter</strong></em></span></span></h2>
			</td>
		</tr>
		<tr>
			<td style="padding: 10px"><span style="font-size:16px;"><span style="font-family:Verdana,Geneva,sans-serif;">Adresse</span></span></td>
			<td style="padding: 10px">
			<p><span style="font-size:16px;"><span style="font-family:Verdana,Geneva,sans-serif;"><a href="https://www.google.com/maps/dir//Les+Fleurs+De+Riton,+149+chemin+des+Vignettes+Zone+commerciale+de,+Chem.+des+Terres+de+Millet,+07200+Saint-Didier-sous-Aubenas/@44.6124592,4.4094463,15z/data=!4m17!1m7!3m6!1s0x12b4e1b50ad708f1:0xac34d36539fded1c!2sLes+Fleurs+De+Riton!8m2!3d44.6124592!4d4.4094463!16s%2Fg%2F11f2wg7_05!4m8!1m0!1m5!1m1!1s0x12b4e1b50ad708f1:0xac34d36539fded1c!2m2!1d4.4094463!2d44.6124592!3e3">149 chemin des Vignettes<br />
			Zone commerciale de, Chem. des Terres de Millet<br />
			07200 Saint-Didier-sous-Aubenas</a></span></span></p>
			</td>
		</tr>
		<tr>
			<td style="padding: 10px"><span style="font-size:16px;"><span style="font-family:Verdana,Geneva,sans-serif;">Téléphone</span></span></td>
			<td style="padding: 10px"><span style="font-size:16px;"><span style="font-family:Verdana,Geneva,sans-serif;"><a href="tel:06 84 03 15 54">06 84 03 15 54</a></span></span></td>
		</tr>
		<tr>
			<td style="padding: 10px"><span style="font-size:16px;"><span style="font-family:Verdana,Geneva,sans-serif;">E-Mail</span></span></td>
			<td style="padding: 10px"><span style="font-size:16px;"><span style="font-family:Verdana,Geneva,sans-serif;"><a href="javascript:void(location.href='mailto:'+String.fromCharCode(99,111,110,116,97,99,116,64,108,101,115,102,108,101,117,114,115,100,101,114,105,116,111,110,46,99,111,109))">contact@lesfleursderiton.com</a></span></span></td>
		</tr>
	</tbody>
</table>